node_modules
__pycache__/
.next/
package-lock.json
vector.index
data_store.json
all-MiniLM-L6-v2
all-MiniLM-L12-v2

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments and dependencies
env/
venv/
ENV/
Lib/
lib/
site-packages/
chatbot/Lib/
chatbot/Lib/site-packages/

